/* pc、スマホ共通スタイル　*/
body{
    font-family:"Source Sans Pro","Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p{
    font-size: 15px;
}

/*================
 PC用のスタイル 
=================*/
  /* 横幅設定 */
  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }
  
  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
  }

   /* ナビゲーションのレイアウト */
   #nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
  }
  
  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
  }
  #nav-pc > a:link {
    color: #c05498;
  }
  #nav-pc > a:visited {
    color: #f38e13;
  }
  #nav-pc > a:hover {
    color: #c05498;
    text-decoration: underline;
  }
  #nav-pc > a:active {
    color: #f38e13;
  }

  /* フッター */
  footer {
    background-color: #b66eb2;
    text-align: center;
    padding: 80px 80px 30px 80px;
  }
  
  #footer-logo {
    margin-bottom: 30px;
  }
/*================
 PC用のスタイル 
=================*/
  /* 横幅設定 */
  #contact>body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }
  
  /* ヘッダー */
  #contact>header {
    display: flex;
    justify-content: space-between;
  }

   /* ナビゲーションのレイアウト */
   #contact-nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
  }
  
  /* ナビゲーションのリンクの装飾設定 */
  #contact-nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
  }
  #contact-nav-pc > a:link {
    color: #c05498;
  }
  #contact-nav-pc > a:visited {
    color: #f38e13;
  }
  #contact-nav-pc > a:hover {
    color: #c05498;
    text-decoration: underline;
  }
  #contact-nav-pc > a:active {
    color: #f38e13;
  }

  /* フッター */
  #contact>footer {
    background-color: #b66eb2;
    text-align: center;
    padding: 80px 80px 30px 80px;
  }
  
  #contact>#footer-logo {
    margin-bottom: 30px;
  }
/*================
 PC用のスタイル 
=================*/
  /* 横幅設定 */
  #portfolio>body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }
  
  /* ヘッダー */
  #portfolio>header {
    display: flex;
    justify-content: space-between;
  }

   /* ナビゲーションのレイアウト */
   #portfolio>nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
  }
  
  /* ナビゲーションのリンクの装飾設定 */
  #portfolio>nav-pc > a {
    text-decoration: none;
    margin-left: 20px;
  }
  #nav-pc > a:link {
    color: #c05498;
  }
  #nav-pc > a:visited {
    color: #f38e13;
  }
  #nav-pc > a:hover {
    color: #c05498;
    text-decoration: underline;
  }
  #nav-pc > a:active {
    color: #f38e13;
  }

  /* フッター */
  #portfolio>footer {
    background-color: #b66eb2;
    text-align: center;
    padding: 80px 80px 30px 80px;
  }
  
  #portfolio>#footer-logo {
    margin-bottom: 30px;
  }
   /* お問い合わせ */
   #contact {
    margin: 80px auto 80px auto;
  }
  
  /* 外枠 */
  #contact > form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
   /* 左列の見出し */
   .contact-heading {
    width: 240px;
    align-self: center;
  }
  /* 見出しのラベル */
  .contact-label {
    font-weight: bold;
  }
